*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/.gitignore
/.idea/.name
/app/build.gradle.kts
/.idea/codeStyles/codeStyleConfig.xml
/.idea/compiler.xml
/app/src/main/res/xml/data_extraction_rules.xml
/.idea/deploymentTargetDropDown.xml
/app/google-services.json
/.idea/gradle.xml
/app/src/main/res/mipmap-hdpi/ic_launcher.webp
/app/src/main/res/mipmap-mdpi/ic_launcher.webp
/app/src/main/res/mipmap-hdpi/ic_launcher_round.webp
/.idea/kotlinc.xml
/.idea/migrations.xml
/.idea/misc.xml
/.idea/codeStyles/Project.xml
/.idea/vcs.xml
